/* --------------- Current Section ------------ */
#curSection{
  margin-top: 0px;
  height:30px;
  line-height: 30px;
  font-size: 15px;
  color:white;
  padding-left:30px;
  background-color:#444444;
}

#curSection.admissions{
  background-color:#203858;
}

#curSection.financial_aid, 
#curSection.financial-aid{
  background-color:#B1BC33;
}


#curSection.onestop,
#curSection.student_services,
#curSection.processing,
#curSection.counseling{
  background-color:#C74832;
}

#curSection.registrar{
  background-color:#7ED2D4;
}

#curSection.other{
  background-color:#5c6338
}

#curSection.icat,
#curSection.executive_director,
#curSection.technology_applications,
#curSection.financial_services,
#curSection.treasury_services,
#curSection.ICAT,
#curSection.executive-director,
#curSection.technology-applications,
#curSection.financial-services,
#curSection.treasury-services{
  background-color:#5c6338
}

/* --- Topic Page Exposed Filter --- */
#topic-exposed-filter{
        float:right;
        margin-right:20px;
        color:#ffffff;

}
#topic-exposed-filter a {
        text-decoration:none;
        color:#ffffff;
        opacity:0.60;
}
#topic-exposed-filter a.selected{
        opacity:1;
}

/* --- Topic Page Navigation Block --- */
.topics-navigation{
  list-style-type:none;
	padding-left:10px;
}
.topics-navigation li{
	margin-bottom:10px;
}
.topics-navigation a{
	text-decoration:none;
	color:#4D6079;

}

/* --- Node Permission Block --- */
.node-permission-block{
  list-style-type:none;
  color:#4D6079;
}
.node-permission-block .node{
  list-style-type:none;
  margin-left:-20px;
  margin-bottom:10px;
  text-decoration:none;
}
.node-permission-block .node a{
 	text-decoration:none;
	color:#4D6079;
}
.node-permission-block .perms{
    margin-left:-20px;
	margin-bottom:0px;
}
.tooltip{
  background-color:black;
  width:240px;
  opacity:0.8;
  color:white;
  border-radius:5px;
  padding:10px;
  margin:0px;
  position:absolute;
  display:none;
  -moz-transform:translate(100px,0px);
  -ms-transform:translate(100px,0px);
  -o-transform:translate(100px,0px);
  -webkit-transform:translate(100px,0px);
  transform:translate(100px,0px);
}
.node-permission-block .node:hover + .tooltip{
 display:block;
}
