/* --------------- Current Section ------------ */
#curSection{
  margin-top: 0px;
  height:30px;
  line-height: 30px;
  font-size: 15px;
  color:white;
  padding-left:30px;
  background-color:#444444;
}

#curSection.admissions{
  background-color:#203858;
}

#curSection.financial_aid, 
#curSection.financial-aid{
  background-color:#B1BC33;
}


#curSection.onestop,
#curSection.student_services,
#curSection.processing,
#curSection.counseling{
  background-color:#C74832;
}

#curSection.registrar{
  background-color:#7ED2D4;
}

#curSection.other{
  background-color:#5c6338
}

#curSection.icat,
#curSection.executive_director,
#curSection.technology_applications,
#curSection.financial_services,
#curSection.treasury_services,
#curSection.ICAT,
#curSection.executive-director,
#curSection.technology-applications,
#curSection.financial-services,
#curSection.treasury-services{
  background-color:#5c6338
}

/* --- Topic Page Exposed Filter --- */
#topic-exposed-filter{
        float:right;
        margin-right:20px;
        color:#ffffff;

}
#topic-exposed-filter a {
        text-decoration:none;
        color:#ffffff;
        opacity:0.60;
}
#topic-exposed-filter a.selected{
        opacity:1;
}

/* --- Topic Page Navigation Block --- */
.topics-navigation{
  list-style-type:none;
	padding-left:10px;
}
.topics-navigation li{
	margin-bottom:10px;
}
.topics-navigation a{
	text-decoration:none;
	color:#4D6079;

}

/* --- Node Permission Block --- */
.node-permission-block{
  list-style-type:none;
  color:#4D6079;
}
.node-permission-block .node {
  list-style-type:none;
  margin-left:-20px;
  line-height:1.5em;
  text-decoration:none;
  margin-top:10px;
}
.node-permission-block .node-child {
  list-style-type:none;
  margin-left:-10px;
  line-height:1.3em;
  text-decoration:none;
  font-size:0.70em;
}
.node-permission-block .node a{
 	text-decoration:none;
	color:#4D6079;
}
.node-permission-block .perms{
    margin-left:-20px;
	margin-bottom:0px;
}
.tooltip{
  background-color:black;
  width:240px;
  opacity:0.8;
  color:white;
  border-radius:5px;
  padding:10px;
  margin:0px;
  position:absolute;
  display:none;
  -moz-transform:translate(100px,0px);
  -ms-transform:translate(100px,0px);
  -o-transform:translate(100px,0px);
  -webkit-transform:translate(100px,0px);
  transform:translate(100px,0px);
}
.node-permission-block .node:hover + .tooltip{
 display:block;
}
.node-permission-block .node-child:hover + .tooltip{
 display:block;
}

/* --- Powered by ICAT Block --- */

.icat_power_block {
  width:inherit;
  text-align:center;
}

.icat_power_block img{
  margin:20px;
}
.icat_power {
  font-style:italic;
  text-align:right;
}

/* --- User groups & roles --- */
.saasblock-groups-roles{
  color:#4D6079;
  line-height:1.8em;
}
.saasblock-groups-roles ul{
  padding:0px;
  margin:0px;
}
.saasblock-groups-roles li{
  list-style-type:none;
  line-height:1.5em;
  font-size:0.9em;
  margin-left:20px;
  text-transform:capitalize;
}

/* --- Training Quiz Index --- */
.saasblock-training-index{
  color:#4D6079;
  font-size:0.75em;
  line-height:1.5em;
  font-weight:normal;
}
.saasblock-training-index a{
  margin-left:10px;
  color:#6b84a7;
  text-decoration:none;
  white-space: nowrap;

}
.saasblock-training-index h2{
  font-size:1.4em;
  line-height:1.3em;
  padding:0;
  margin:0px 0px 10px 0px;
}
.saasblock-training-index h3{
  font-size:1.1em;
  line-height:1.8em;
  font-weight:bold;
  padding:0;
  margin:0;
}
.saasblock-training-current{
  font-weight:bold;
}

